extends layout

block navi
    nav#myNavbar.navbar.navbar-default.navbar-inverse.navbar-fixed-top(role='navigation')
      // Brand and toggle get grouped for better mobile display
      .container
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbarCollapse')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          img.navbar-brand(src='http://images.clipartpanda.com/penguin-clip-art-RTAKKdyTL.png')
          a.navbar-brand(href='home.html') Peep
        // Collect the nav links, forms, and other content for toggling
        #navbarCollapse.collapse.navbar-collapse
          ul.nav.navbar-nav.navbar-right
            li
              a(href='#') Log out

block content
    // USER INFORMATION AND COPYRIGHT
    .container
      .page-header
        ul.nav.nav-pills
          li.active

            a(href='/') Home
          li
            a(href='/user') Profile
          li
            a(href='/messages') Messages

          li
            a(href='#')
              | Notification  
              span.badge
      .row
        .col-xs-4
          .media
            a.pull-left(href='#')
              img.media-object(src='/images/icon.png', height='64px', width='64px', alt='icon')
            .media-body
              h4.media-heading
                | John Doe 
                small
                  i @doe
              br
              table.table-condensed
                thead
                  tr
                    th Peeps
                    th Followers
                    th Following
                tbody
                  tr
                    td#peepnb 3
                    td 3
                    td 4
          br
          footer
            hr
            p © Copyright 2015 Peep
        // USER PEEPS
        .col-xs-8
          form(role='form')
            .form-group
              label(for='comment') Add a new Peep:
              textarea#comment.form-control(maxlength='140', placeholder="What's on your mind?", oninput='charCount()')
              label#charsleft(for='wordcount') 140 characters left
              button#peep.btn.btn-primary.pull-right(type='submit', disabled='') Peep
          .panel.panel-default
            .panel-heading
              h1.panel-title All Peeps
            .panel-body
              .media
                a.pull-left(href='#')
                  img.media-object.img-circle(src='/images/fox.png', height='64px', width='64px',alt='User Picture')
                .media-body
                  h4.media-heading
                    | Vladimir Vodka 
                    small
                      i @vladi
                  p This guy said stuff.
                  small.pull-right
                    i January 10, 2015
            .panel-body
              .media
                a.pull-left(href='#')
                  img.media-object.img-circle(src='/images/elephant.png', height='64px', width='64px',alt='User Picture')
                .media-body
                  h4.media-heading
                    | Jack Daniels 
                    small
                      i @jacki
                  p This one too.
                  small.pull-right
                    i January 9, 2015
            .panel-body
              .media
                a.pull-left(href='#')
                  img.media.object.img-circle(src='/images/toucan.png', height='64px', width='64px',alt='User Picture')
                .media-body
                  h4.media-heading
                    | Tim Tequila 
                    small
                      i @timi
                  p White boy status.
                  small.pull-right
                    i January 8, 2015
            .panel-body
              .media
                a.pull-left(href='#')
                  img.media.object.img-circle(src='/images/icon.png', height='64px', width='64px',alt='User Picture')
                .media-body
                  h4.media-heading
                    | John Doe 
                    small
                      i @doe
                  p Things and stuff.
                  small.pull-right
                    i January 8, 2015
            .panel-body
              .media
                a.pull-left(href='#')
                  img.media.object.img-circle(src='/images/icon.png', height='64px', width='64px',alt='User Picture')
                .media-body
                  h4.media-heading
                    | John Doe 
                    small
                      i @doe
                  p ... but it was aliens.
                  small.pull-right
                    i January 8, 2015
            .panel-body
              .media
                a.pull-left(href='#')
                  img.media.object.img-circle(src='/images/icon.png', height='64px', width='64px',alt='User Picture')
                .media-body
                  h4.media-heading
                    | John Doe 
                    small
                      i @doe
                  p I'm not saying it was aliens...
                  small.pull-right
                    i January 8, 2015
            .panel-body
              .media
                a.pull-left(href='#')
                  img.media.object.img-circle(src='/images/panda.png', height='64px', width='64px',alt='User Picture')
                .media-body
                  h4.media-heading
                    | Ano Nyme 
                    small
                      i @anne
                  p White girl status.
                  small.pull-right
                   
