extends layout

block navi
    nav#myNavbar.navbar.navbar-default.navbar-inverse.navbar-fixed-top(role='navigation')
      // Brand and toggle get grouped for better mobile display
      .container
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbarCollapse')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          img.navbar-brand(src='http://images.clipartpanda.com/penguin-clip-art-RTAKKdyTL.png')
          a.navbar-brand(href='/') Peep
        // Collect the nav links, forms, and other content for toggling
        #navbarCollapse.collapse.navbar-collapse
          ul.nav.navbar-nav.navbar-right
            li
              a(href='#') Log out

block content
    // USER INFORMATION AND COPYRIGHT
    .container
      .page-header
        ul.nav.nav-pills
          li.active
            a(href='/') Home
          li
            a(href='/user') Profile
          li
            a.btn.btn-link(href='#myModal', data-toggle='modal')
                span.glyphicon.glyphicon-envelope
                |  Messages
            #myModal.modal.fade
                .modal-dialog
                    .modal-content
                        .modal-header
                            button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
                            |                                     
                            h4.modal-title Messages
                        |                                 
                        .modal-body
                            p Actually, we didn&apos;t really add this page.
                            |                                     
                            p.text-warning
                                small But here&apos;s a fancy modal.
                            |                                 
                        .modal-footer
                            button.btn.btn-primary(type='button', data-dismiss='modal') Uh, thanks?
      .row
        .col-md-4
          .media
            a.pull-left(href='#')
              img.media-object(src='/images/icon.png', height='64px', width='64px', alt='icon')
            .media-body
              h4.media-heading
                | John Doe 
                small
                  i @doe
              br
              table.table-condensed
                thead
                  tr
                    th Peeps
                    th Followers
                    th Following
                tbody
                  tr
                    -function peepcount(){
                        -var count = 2+tweets.length;
                        -return count;
                    -}
                    td#peepnb #{peepcount()}
                    td 3
                    td 4
          br
          footer
            hr
            p © Copyright 2015 Peep
        // USER PEEPS
        .col-md-8
          form(role='form', action='/', method='POST')
            .form-group
              label(for='comment') Add a new Peep:
              textarea#comment.form-control(name="tweet", maxlength='140', placeholder="What's on your mind?", oninput='charCount()')
              label#charsleft(for='wordcount') 140 characters left
              button#peep.btn.btn-primary.pull-right(type='submit', disabled='') Peep
          .panel.panel-default
            .panel-heading
              h1.panel-title All Peeps
            each tweet in tweets
                .panel-body 
                  .media
                    a.pull-left(href='#')
                      img.media-object.img-circle(src='/images/icon.png', height='64px', width='64px',alt='User Picture')
                    .media-body
                        h4.media-heading
                            | John Doe 
                            small
                                i @doe
                        |                          
                        p= tweet
                        |                          
                        small.pull-right
                            -function prettyDate(){
                                -var d = new Date()
                                -var monthNames  = ["January","February","March","April","May","June","July","August","September","October","November","December"]
                                -var m = monthNames[d.getMonth()];
                                -var y = d.getFullYear();
                                -return m+' '+d.getDate()+', '+y;
                            -}
                            i #{prettyDate()}
            .panel-body
              .media
                a.pull-left(href='#')
                  img.media.object.img-circle(src='/images/toucan.png', height='64px', width='64px',alt='User Picture')
                .media-body
                  h4.media-heading
                    | Tim Tequila 
                    small
                      i @timi
                  p Some random status, just to check if our code is still working.
                  small.pull-right
                    i January 8, 2015
            .panel-body
              .media
                a.pull-left(href='#')
                  img.media.object.img-circle(src='/images/icon.png', height='64px', width='64px',alt='User Picture')
                .media-body
                  h4.media-heading
                    | John Doe 
                    small
                      i @doe
                  p ... but it was aliens.
                  small.pull-right
                    i January 8, 2015
            .panel-body
              .media
                a.pull-left(href='#')
                  img.media.object.img-circle(src='/images/icon.png', height='64px', width='64px',alt='User Picture')
                .media-body
                  h4.media-heading
                    | John Doe 
                    small
                      i @doe
                  p I'm not saying it was aliens...
                  small.pull-right
                    i January 8, 2015
            .panel-body
              .media
                a.pull-left(href='#')
                  img.media.object.img-circle(src='/images/panda.png', height='64px', width='64px',alt='User Picture')
                .media-body
                  h4.media-heading
                    | Ano Nyme 
                    small
                      i @anne
                  p White girl status.
                  small.pull-right
                    i January 8, 2015