doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title Peep
    link(rel='icon', href='/images/favicon2.ico', type='image/gif')
    link(href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css", rel="stylesheet")
    link(href="/stylesheets/style.css", rel="stylesheet")
  body
    block navi
    block content
    script(src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js")
    script(src='http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.11.2.min.js')
    script(src="/javascripts/peep.js")