extends layout

block navi
    // NAVIGATEUR
    nav#myNavbar.navbar.navbar-default.navbar-inverse.navbar-fixed-top(role='navigation')
      // Brand and toggle get grouped for better mobile display
      .container
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbarCollapse')
            span.sr-only Toggle navigation
            |                     
            span.icon-bar
            |                     
            span.icon-bar
            |                     
            span.icon-bar
          |                 
          img.navbar-brand(src='http://images.clipartpanda.com/penguin-clip-art-RTAKKdyTL.png')
          |                 
          a.navbar-brand(href='/') Peep
        // Collect the nav links, forms, and other content for toggling
    // navigation interne (home, messages, etc)
    .container
      .page-header
        ul.nav.nav-pills
          li
            a(href='/') Home
          li.active
            a(href='/user') Profile
          li
            a.btn.btn-link(href='#myModal', data-toggle='modal')
                span.glyphicon.glyphicon-envelope
                |  Messages
            #myModal.modal.fade
                .modal-dialog
                    .modal-content
                        .modal-header
                            button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
                            |                                     
                            h4.modal-title Messages
                        |                                 
                        .modal-body
                            p Actually, we didn&apos;t really add this page.
                            |                                     
                            p.text-warning
                                small But here&apos;s a fancy modal.
                            |                                 
                        .modal-footer
                            button.btn.btn-primary(type='button', data-dismiss='modal') Uh, thanks?
      .row
        .col-xs-4
          .bs-example
            .media
              a.pull-left(href='#')
                img.media-object(src='/images/icon.png', height='64px', width='64px', alt='icon')
              |                      
              .media-body
                h4.media-heading
                  | John Doe 
                  small
                    i @doe
                |                     
                p 20, penguin, love my bird family
                | 
                table.table-condensed
                  thead
                    tr
                      th Peeps
                      | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                      th Followers
                      | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                      th Following
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  tbody
                    tr
                        -function peepcount(){
                            -var count = 2+tweets.length;
                            -return count;
                        -}
                        td#peepnb #{peepcount()}
                        td 3
                        td 4
          |                     
          br
          |                     
          p
            a.btn.btn-success(href='') Follow
          |                 
          footer
            hr
            |                     
            p &copy; Copyright 2015 Peep
        // les messages ou "peeps"
        // ecrire un nouveau message
        .col-xs-8
          form(role='form', action='/user', method='POST')
            .form-group
              label(for='comment') Add a new Peep:
              |                       
              textarea#comment.form-control(name="tweet", maxlength='140', placeholder="What's on your mind?", oninput='charCount()')
              |                     
              label#charsleft(for='wordcount') 140 characters left
              |                     
              button#peep.btn.btn-primary.pull-right(type='submit', disabled='') Peep
          // afficher les messages des autres utilisateurs
          .panel.panel-default
            .panel-heading
              h1.panel-title John&apos;s Peeps
            each tweet in tweets
                .panel-body
                    p= tweet 
                    |                     
                    small.pull-right
                            -function prettyDate(){
                                -var d = new Date()
                                -var monthNames  = ["January","February","March","April","May","June","July","August","September","October","November","December"]
                                -var m = monthNames[d.getMonth()];
                                -var y = d.getFullYear();
                                -return m+' '+d.getDate()+', '+y;
                            -}
                            i #{prettyDate()}
            |                 
            .panel-body
              p ... but it was aliens.
              |                     
              small.pull-right
                i January 8, 2015
            |                 
            .panel-body
              p I&apos;m not saying it was aliens...
              |                     
              small.pull-right
                i January 8, 2015
